
/*(0,0,1)*/
body { 
    display: grid;
    grid: "h h"
          "a b"
          "f f";
    background-color: antiquewhite;
    margin: 0;
}

/*(0,0,2)*/
body > header { /*Pueden otros headers, como los contenidos en un article */
    grid-area: h;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    background-color: rgb(221, 198, 167);
}

h1{
    margin: 1em;
}
/*(0,0,1)*/
form { 
    grid-area: a;
    flex-direction: column; 
    padding-left: 1.8em;
}

/*(0,1,1)*/
input[type="submit"]{
    display: flex;
    margin: 0.8em;
    padding: 0.5em;
    background-color: rgb(250, 244, 237);
    font-size: 90%;
}

/*(0,0,1)*/
label {
    font-size: larger;
    display:block;
}

/*(0,0,1)*/
main{ 
    grid-area: b; 
    min-width: 12em; 
    padding-top: 2em;    
}
